<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/posts">Tom's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Time Line<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Games<span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          External Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://twitter.com/at0w0last">twitter</a>
          <a class="dropdown-item" href="https://github.com/t100ta">github</a>
          <a class="dropdown-item" href="http://gallery.styly.cc/t100ta/1c817671-7091-11e8-b34d-4783bb2170d0">STYLY</a>
          <a class="dropdown-item" href="http://amzn.asia/aJiwKcl">WishList</a>
        </div>
      </li>
    </ul>
  </div>
</nav>