<!DOCTYPE html>
<html lang="ja-jp">
<head>
{% load static %}
    <title>{{ post.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'posts/posts.css' %}">
</head>
<body>
{% include 'common/header.html' %}
<div class="container">
    <br>
    <h2>{{ post.title }}</h2>
    {{ post.published }}
    <br/><br/>
    <img src="{{ post.image.url }}" class="img-thumbnail rounded" style="max-height: 400px;"/>
    <br/><br/>
    {{ post.body }}
    <br/><br/>
</div>
{% include 'common/footer.html' %}
</body>
</html>